* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(43, 205, 192, 0.6);
  min-height: 27.05rem;
}

header a {
  text-decoration: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
  margin-top: 1.25rem;
  margin-right: 1.75rem;
}

main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background: #000;
  color: #fff;
  min-height: 33.91rem;
}

main a {
  text-decoration: none;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

a:hover {
  color: #2bcdc0;
}

.fb {
  grid-column: 3;
  grid-row: 1;
  justify-self: start;
}

.ig {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
}

.ab {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}

.container .welcome-text {
  grid-column: 2 / span 1;
  justify-self: center;
  align-self: center;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  color: #2bcdc0;
  letter-spacing: 0.25rem;
}

.blue-bar {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  background: #33a8dd;
  width: 12vw;
  height: 3.3vh;
}

.container .blue-header {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container .blue-p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-self: center;
  margin-top: 1.25vh;
  width: 15vw;
}

.orange-bar {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  background: #f46731;
  width: 12vw;
  height: 3.3vh;
}

.container .orange-header {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container .orange-p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-self: center;
  margin-top: 1.25vh;
  width: 15vw;
}

.teal-bar {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  background: #2bcdc0;
  width: 12vw;
  height: 3.3vh;
}

.container .teal-header {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container .teal-p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-self: center;
  margin-top: 1.25vh;
  width: 15vw;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #000;
}

.jsvid {
  grid-column: 2;
  justify-self: center;
}

/* Media Queries */

@media (max-width: 1010px) {
  header a {
    font-size: 16px;
  }

  .fb {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }

  .ig {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
  }

  .ab {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  .container .welcome-text {
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: center;
    font-family: "Oswald", sans-serif;
    font-size: 4.5rem;
    color: #2bcdc0;
    letter-spacing: 0.15rem;
  }

  .container .blue-p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 13px;
  }

  .container .orange-header {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .container .orange-p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 13px;
  }

  .container .teal-p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 13px;
  }

  h1 a {
    font-size: 25px;
  }
}
